.modal-content {
  width: 90%;
  /* Adjust width for mobile */
  max-width: none;
  /* Remove max-width constraint */
  margin: 10% auto;
  /* Centering with some top margin */
  transform: translateY(-50%);
  /* Center vertically */
  box-shadow:
    0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* Soft shadow */
}

.ImageModal {
  backdrop-filter: blur(5px);
  /* Adding more blur to the backdrop */
}

@media (min-width: 240px) {
  /* Adjust for small tablets and large mobiles */
  .modal-content {
    max-width: 80%;
    margin-top: 390px;
    /* Fixed margin instead of percentage */
  }
}

@media (min-width: 768px) {
  /* Adjust for tablets */
  .modal-content {
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  /* Adjust for laptops and desktops */
  .modal-content {
    max-width: 60%;
    margin-top: 390px;
  }
}

@media (min-width: 1280px) {
  /* Larger desktops */
  .modal-content {
    max-width: 50%;
    margin-top: 390px;
  }
}

.close:hover,
.close:focus {
  color: #bbbbbb;
  text-decoration: none;
  cursor: pointer;
  transform: rotate(90deg);
  /* A subtle rotation effect for the close icon */
}

.workIMG:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
