.ImageModal {
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: backdrop-filter 0.5s ease;
}

.modal-content {
  transition: all 0.5s ease-in-out;
  max-width: 100%;
  width: auto;
  padding: 2.5rem;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
}

/* .ImageModal.active .modal-content {
  animation: scaleUp 0.5s ease forwards;
} */

.close:hover,
.close:focus {
  color: #e0e0e0;
  cursor: pointer;
  transform: rotate(90deg) scale(1.2);
}

#img01 {
  width: 100%;
  max-width: 1400px;
  height: auto;
  border-radius: 10px;
}

/* @keyframes scaleUp {
  0% { transform: scale(0.8) translateY(-50px); opacity: 0; }
  100% { transform: scale(1) translateY(0); opacity: 1; }
} */

/* Responsive Design Adjustments */
@media (min-width: 240px) {
  .modal-content { max-width: 95%; } /* Allow more width on smaller screens */
}
@media (min-width: 768px) {
  .modal-content { max-width: 85%; } /* Adjust for medium screens */
}
@media (min-width: 1024px) {
  .modal-content { max-width: 75%; } /* Adjust for larger screens */
}
@media (min-width: 1280px) {
  .modal-content { max-width: 65%; } /* Adjust for extra large screens */
}